@import "./normalize";
@import "./mixins";
@import "./variables";

body{
  font-family: "Object Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  min-height: 100vh;
  background-color: #E5E5E5;
  position: relative;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 8px 0 0 0;
}

.header {
  @include flex-space;
  margin: 0 15px 15px;
  background-color: white;
  height: 64px;
  border-radius: 8px;
  padding: 0 30px;

  @media (max-width: 1300px) {
    padding: 0 20px;
    justify-content: flex-start;
  }


  &__logo {
    order: 1;

    @media (max-width: 1300px) {
      order: 2;
      margin-left: 20px;
    }
  }

  &__menu {
   @include flex-centre;
    order: 2;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &__burger-toggle{
      display: none;
    }


    @media (max-width: 1300px) {
      order: 1;

      &__nav{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 0 20px;
      }

      &__burger-container{
        @include flex-space;
        display: none;
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 540px;
        z-index: 1;
        
        &_active{
          display: flex;
        }

      }
      
      &__burger-cross{
        width: 50px;
        height: 100%;
        position: relative;
        right: 0;
        background: rgba(0, 0, 0, 0.4);

        &::after,
        &::before{
          content: "";
          content: "";
          display: block;
          width: 30px;
          height: 2.5px;
          background-color: white;
          position: absolute;
          top: 50%;
          right: 7px;
          border-radius: 8px;
          transform: rotate(45deg) translateY(-50%);
        }
        &::before{
          transform: rotate(135deg) translateY(-50%);

        }
      }

      &__burger-toggle{
        position: relative;
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: 0;
        overflow: hidden;
        cursor: pointer;


        &__line {
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: #343A40;
          left: 50%;
          top: 63%;
          border-radius: 6px;
          transition: all 0.2s ease;
          transform: translateX(-50%) translateY(-50%);

          &:first-child {
            transform: translateX(-50%) translateY(calc(-50% - 10px));
          }
        }      
      }
    }



    &__link{
      font-weight: 600;
      margin-left: 32px;
      text-decoration: none;
      color: #343A40;


        @media (max-width: 1300px) {
          margin: 0 0 15px 25px;
          font-size: 16px;
          font-weight: 500;

        }
        @media (max-width: 480px) {
          margin: 0 0 8px 20px;
          font-size: 14px;
        }

      &_selected{
        color: #FA530D;
        
      }

      &_mr-t{

        margin-top: 10px;
      }

      &_all{
        position: relative;
        margin: 0 25px 0 30px;

          @media (max-width: 1300px) {
            display: none;
            margin: 0 0 0 25px;
          }

          &::after{
            content: "";
            position: absolute;
            left: 105px;
            top: 4px;
            display: block;
            width: 6px;
            height: 6px;
            border-top: 2px solid #ADB5BD;
            border-left: 2px solid #ADB5BD;
            transform: rotate(225deg);
            border-radius: 1px;

            @media (max-width: 1300px) {
              background: linear-gradient(to top right, white calc(50% - 1px), #ADB5BD , white calc(50% + 1px) );
              top: 10px;
              left: 115px;
              transform: rotate(135deg);
            }
          }

          &_selected{
            &:after{
              top: 5.5px;
              transform: rotate(135deg);
              border-color: #FA530D;

              @media (max-width: 1300px) {
                background: linear-gradient(to top right, white calc(50% - 1px), #FA530D, white calc(50% + 1px) );
                top: 10px;
              }
            }
          }
        }

      &_additional{
        display: none;

        @media (max-width: 1300px) {

            display: inline-block; 
          
        }
      }
    
      &_additional_header{
        display: none;

          @media (max-width: 1300px) {
            display: inline-block; 
            margin-left: 0;
            font-size: 18px;
            margin: 30px 0 0; 
            font-weight: 700;
          }

          @media (max-width: 480px) {
            margin-top: 20px; 
          }
        }

      &_bag{
        margin-right: 15px;
      }

      &_bag,
      &_favorite{
        position: relative;

        &::before{
          content: '';
          width: 21px;
          height: 21px;
          position: absolute;
          left: -25px;    
          background-size: 22px;
          background-repeat: no-repeat;
        }

        @media (max-width: 1300px){
          margin-bottom: 0;
        }

        @media (max-width: 1024px){
          font-size: 0;
        }
      }

      &_bag::before{
        background-image: url('../img/shopping-bag.svg');
      }
      &_favorite::before{
        background-size: 18px;
        top: 3px;
        background-image: url('../img/favorites.svg');
      }
    }
        
  }

  &__favorite-bag-container{
    display: flex;
    order: 4;

    @media (max-width: 1300px) {

      margin-left: auto;
      
    }
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__search{
    order: 3;
    height: 40px;
    width: 360px;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background: #F4F5F7;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 5px 0 30px;

    @media (max-width: 1300px) {
      width: 100%;
      margin: 0 20px 0 30px;
    }

    @media (max-width: 768px) {
      background: transparent;
      width: 10px;
      margin-left: auto;
    }

    &__input{
      border: 0;
      outline: none;
      background-color: transparent;
      font-size: 14px;
      width: 100%;
      margin-left: 15px;

      &::placeholder{
        color: #6C757D
      }
    }

  }


}

.slider{

  &__slide{


    &__text-container{

    }

    &__title{

    }

    &__text{


    }

    &__price{

    }

    &__button{

    }

    &__img{


    }

  }
}


// .cards-container {
//   @include flex-centre;
//   flex-wrap: wrap;
//   margin: auto;
// }
//
// .card {
//   margin: 20px;
//   display: inline-block;
//   border: 2px solid black;
//   width: 220px;
//   text-align: center;
//   padding: 10px 25px;
//   box-sizing: border-box;
//   position: relative;
//
//   &__star-container {
//     display: flex;
//     position: absolute;
//     top: 3px;
//     right: 3px;
//   }
//
//   &__star {
//     display: none;
//
//     &_active {
//       fill: black;
//     }
//   }
//
//   &__img {
//     width: 100%;
//     display: block;
//     margin: auto;
//     height: 150px;
//     object-fit: cover;
//   }
//
//   &__name {
//     font-size: 20px;
//     margin: 10px 0;
//   }

//   &__color {
//     margin-right: 25px;
//     position: relative;

//     &::after {
//       content: "";
//       width: 1px;
//       height: 14px;
//       background-color: black;
//       position: absolute;
//       top: 2px;
//       right: -12px;
//       transform: rotate(30deg);
//     }
//   }

//   &__price-and-btn-wrapper {
//     @include flex-centre;
//     margin-top: 10px;
//   }

//   &__price {
//     font-size: 16px;
//     font-weight: 700;
//   }
// }

// .btn {
//   display: block;
//   width: 76px;
//   height: 26px;
//   color: white;
//   font-size: 14px;
//   background-color: black;
//   border: none;
//   border-radius: 5px;
//   font-size: 13px;
//   margin: 10px auto 0;
// }

// .card__cross {
//   width: 23px;
//   height: 23px;
//   position: absolute;
//   left: 3px;
//   top: 3px;

//   &__cross::after,
//   &__cross::before {
//     content: "";
//     display: block;
//     width: 21px;

//     height: 1.5px;
//     background-color: black;
//     position: absolute;
//     top: 10px;
//     right: 0;
//     transform: rotate(45deg) translateY(-50%);
//   }
// }


.admin-upload-file{
    position: relative;
    background-color: #fafafa;
    display: flex;
    border-radius: 8px;
    margin: 0 0 0 auto;



  &__input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
  }
  &__text{
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px;
    color: #2196f3;
    font-size: 14px;
  }


}