@import "./normalize";
@import "./mixins";
@import "./variables";

@font-face {
  font-family: "Object Sans";
  font-style: normal;
  font-weight: normal;
  src:  url(../fonts/ObjectSans-Regular.ttf) format("truetype");
}

@font-face{
  font-family: "Object Sans";
  font-style: normal;
  font-weight: 500;
  src:  url(../fonts/Objectivity-Medium.otf) format("truetype");
}

body{
  font-family: "Object Sans", sans-serif;
  // font-family: Object Sans;
  color: #000000;
  font-size: 16px;
  // line-height: 26px;
  // min-height: 100vh;
  background-color: #F8F9FA;
  position: relative;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.drop-down{

  &__header{
    position: relative;
    // display: inline-block;

    &::after{
      content: "";
      position: absolute;
      right: -17.5px;
      top: 7px;
      display: block;
      width: 5px;
      height: 5px;
      border-top: 2px solid #ADB5BD;
      border-left: 2px solid #ADB5BD;
      transform: rotate(135deg);
      border-radius: 1.5px;
    }

    &_active{
      &::after{
        transform: rotate(225deg);
        top: 5px;
        border-color: #343A40
      }
    }
  }

  &__list{
    @include flex-column-left;
    display: none;

    &_active{
      display: flex;
    }

    &_header{
      @media (min-width: 1301px){
        display: inline-block;
      }
    }

  }
}


.header {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  margin: 10px auto 0;
  right: 0;
  left: 0;
  border-radius: 8px;
  z-index: 3;
  
  &__container{
    @include flex-space-center ;
    height: 65px;
    margin: auto 10px;
    background-color: white;
    border-radius: 8px;
    padding: 0 30px;
    max-width: calc(100% - 20px);
    position: relative;

  
    @media (max-width: 1300px) {
      padding: 0 20px;
      justify-content: flex-start;
    }

    @media (max-width: 768px) {
      height: 56px;
    }


    
  }


  &__logo {
    order: 1;
    -webkit-tap-highlight-color: transparent;

    &__img{
      vertical-align: middle;
    }


    @media (max-width: 1300px) {
      order: 2;
      margin-left: 20px;
    }
  }

  &__menu {
   @include flex-center;
    order: 2;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &__burger-toggle{
      display: none;
    }


    @media (max-width: 1300px) {
      order: 1;

      &__nav{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 0 15px;
      }

      &__burger-container{
        @include flex-space-center ;
        display: none;
        list-style: none;
        position: absolute;
        top: -10px;
        left: -10px;
        width: 100%;
        height: 100%;
        max-width: 540px;
        z-index: 1;
        
        &_active{
          display: flex;
          height: 100vh;
          max-height: 1000px;

          @media (max-width: 768px) {
            height: 100vh;
          }
        }

      }
      
      &__burger-cross{
        width: 50px;
        height: 100%;
        position: relative;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 0 0 8px;

        @media (max-width: 768px) {
          border-radius: 0;
        }

        &::after,
        &::before{
          content: "";
          display: block;
          width: 30px;
          height: 2.5px;
          background-color: white;
          position: absolute;
          top: 50%;
          right: 7px;
          border-radius: 8px;
          transform: rotate(45deg) translateY(-50%);
        }
        &::before{
          transform: rotate(135deg) translateY(-50%);

        }
      }

      &__burger-toggle{
        position: relative;
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: 0;
        overflow: hidden;
        cursor: pointer;


        &__line {
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: #343A40;
          left: 50%;
          top: 63%;
          border-radius: 6px;
          transition: all 0.2s ease;
          transform: translateX(-50%) translateY(-50%);

          &:first-child {
            transform: translateX(-50%) translateY(calc(-50% - 10px));
          }
        }      
      }
    }



    &__link{
      font-weight: 600;
      margin-left: 32px;
      text-decoration: none;
      color: #343A40;
      -webkit-tap-highlight-color: transparent;

        @media (max-width: 1300px) {
          margin: 20px 0 0 25px;
          font-size: 16px;
          font-weight: 500;

        }
        @media (max-width: 480px) {
          margin: 12px 0 0 20px;
          font-size: 13px;
        }

      &_mr-t{

        margin-top: 25px;

        @media (max-width: 480px) {
          margin-top: 15px;
        }
      }

      &_all{
        position: relative;
        margin: 0 25px 0 30px;

          @media (max-width: 1300px) {
            display: none;
            margin: 0 0 0 25px;
          }

          @media (min-width: 1301px) {


          &::after{
            content: "";
            position: absolute;
            left: 105px;
            top: 2.5px;
            display: block;
            width: 6px;
            height: 6px;
            border-top: 2px solid #ADB5BD;
            border-left: 2px solid #ADB5BD;
            transform: rotate(225deg);
            border-radius: 1px;
          }
          }

          &_selected{
            &:after{
              top: 4px;
              transform: rotate(135deg);
              border-color: #FA530D;

              @media (max-width: 1300px) {
                background: linear-gradient(to top right, white calc(50% - 1px), #FA530D, white calc(50% + 1px) );
                top: 10px;
              }

            }
          }
        }

      &_additional{
        display: none;

        @media (max-width: 1300px) {
            display: inline-block;           
        }

        &_header{
          display: none;
  
          &:nth-of-type(1){
            margin-top: 30px;
          }

          &::after{
            left: 70px;
            top: 7px;
            width: 6px;
            height: 6px;
          }

          @media (max-width: 1300px) {
              display: inline-block; 
              margin-left: 0;
              font-size: 18px;
              margin: 40px 0 0; 
              font-weight: 700;
  
              &::after{
                left: 66px;
                top: 8px;
              }

            &_active{
              &::after{
                top: 6.5px;
                left: 68px;
              }
            }
          }

          @media (max-width: 480px){
            &::after{
              width: 5px;
              height: 5px;
              top: 6px;
              left: 60px;
            }
            &_active{
              &::after{
                left: 62px;
              }
            }
          }

          // @media (max-width: 480px){
          //   width: 5px;
          //   height: 5px;
          // }


  
          @media (max-width: 480px) {
              margin-top: 25px; 
              font-size: 16px;
              font-weight: 600
            }
          }
      }
    

      &_bag{
        margin-right: 15px;
      }

      &_bag,
      &_favorite{
        position: relative;
        margin-top: 0;

        &::before{
          content: '';
          width: 21px;
          height: 21px;
          position: absolute;
          left: -25px;    
          background-size: 22px;
          background-repeat: no-repeat;
        }

        @media (max-width: 1300px){
          margin-bottom: 0;

        }
        
        @media (max-width: 1024px){
          font-size: 0;

          &::before{
            bottom: -13px;
            
          }
        }
      }

      &_bag::before{
        top: -3px;
        background-image: url('../img/shopping-bag.svg');

        @media (max-width: 1024px){
          top: initial;
          bottom: -10px;
        }
      }
      &_favorite::before{
        background-size: 18px;
        background-image: url('../img/favorites.svg');
      }
    }
        
  }

  &__favorite-bag-container{
    display: flex;
    order: 4;

    @media (max-width: 1300px) {

      margin-left: auto;
      
    }
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__search-screen-wrapper{
    display: none;

    @media (max-width: 1300px) {
      width: 100%;
      margin: 0 20px 0 30px;
    }

    @media (max-width: 768px) {
      width: auto;
      margin-left: auto;

    }
    &_touched{
      display: block;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      // background: rgba(0, 0, 0, 0.4);
    }

    &_searching{
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.4);
    }
    

  }


  &__search-container{
    order: 3;
    width: 360px;


    @media (max-width: 1300px) {
      width: 100%;
      margin: 0 20px 0 30px;
    }

    @media (max-width: 768px) {
      width: auto;
      margin-left: auto;

    }

    &_touched{
      position: absolute;
      margin: 0 auto;
      padding: 0;
      max-width: 67.5%;
      border-radius: 12px;
      left: 0;
      width: 100%;
      right: 100px;   
      
      @media (max-width: 1350px) {
        max-width: 65%;
      }
      @media (max-width: 1300px) {
        right: 13px;
        max-width: calc(100% - 490px);
      }

      @media (max-width: 1024px){
        max-width: calc(100% - 342px);
        left: 238px;
        right: initial;
      }

      @media (max-width: 768px){
        max-width: none;
        position: absolute;
        margin: 0;
        left: 0;
        z-index: 1;
      }
    }


    &_searching{
      height: 500px;
      top: 5px;
      z-index: 2;
      padding: 8px;
      background: white;
      box-sizing: border-box;

      @media (max-width: 768px) {
        top: 1px;
        
      }
    }

  }

  &__search{
    // order: 3;
    height: 40px;
    // width: 360px;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background: #F4F5F7;
    border-radius: 8px;
    box-sizing: border-box;
    // margin: 0 5px 0 30px;

    // @media (max-width: 1300px) {
    //   width: 100%;
    //   margin: 0 20px 0 30px;
    // }

    @media (max-width: 768px) {
      background: transparent;
      width: 10px;

      &_touched{
        background: white;
        width: 100%;

        img{
          margin-bottom: 2px;
        }

        input{
          background: #F4F5F7;
        }
      }

      &_searching{
        height: 45px;
        background: #F4F5F7;
      }
    }

    &__input{
      border: 0;
      outline: none;
      background-color: transparent;
      font-size: 15px;
      width: 100%;
      margin-left: 15px;

      &::placeholder{
        color: #6C757D;
      }

      @media (max-width: 768px) {
        margin-left: 8px;
      }
    }

  }


}

.slider{
  max-width: 1420px;
  margin: 0 auto;

  &__dots-list{
    margin: 0 auto;
    display: flex;
    width: 350px;
    justify-content: space-between; 
    padding: 0;

    @media (max-width: 540px) {
      width: 300px;
    }
    @media (max-width: 480px) {
      width: 270px;
    }


    & .slick-active .slider__dot{
      background: white;
    }
  }

  &__arrow{
    content: "";
    right: 130px;
    z-index: 2;
    top: 40%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 44px;
    width: 56px;
    height: 56px;
    position: absolute;

    @media (max-width: 1024px) {
      right: 60px;
    }

    @media (max-width: 768px) {
      display: none;
    }


    &::after{
      content: "";
      position: absolute;
      top: 25px;
      left: 24px;
      display: block;
      width: 7px;
      height: 7px;
      border-top: 2.5px solid white;
      border-left: 2.5px solid white;
      transform: rotate(135deg);
      border-radius: 1.5px;
      right: 50%;
    }

    &::before{
      content: "";
      position: absolute;
      top: 28.5px;
      left: 21.5px;
      display: block;
      width: 11px;
      height: 2px;
      background-color: white;
      border-radius: 6px;
    }

    &_left{
      left: 130px;

      @media (max-width: 1024px) {
        left: 60px;
      }

      &::after{
        transform: rotate(315deg);
      }

      &::before{
        left: 22.5px;
      }
    }
  }

  &__dot{
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    bottom: 0;
  }

  &__slide{
    @include flex-center;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: #EFE5FE;;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 540px) {
      background-size: 750px;
      padding: 20px;
      justify-content: space-between;
    }

    @media (max-width: 480px) {
      background-size: 650px;
    }

    @media (max-width: 375px) {
      background-size: 600px;
    }

    &__text-container{
      @include flex-center;
      flex-direction: column;

      @media (max-width: 540px) {
        align-items: flex-start;
      }
    }

    &__title-icon-container{
      @include flex-center;
      align-items: baseline;
    }

    &__title{
      font-size: 20px;

      @media (max-width: 480px) {
        font-size: 18px;
      }

      @media (max-width: 375px) {
        font-size: 16px;
      }
    }

    &__icon{
      width: 16px;

      @media (max-width: 480px) {
        font-size: 15px;
      }
      @media (max-width: 375px) {
        font-size: 14px;
      }
    }

    &__text{
      margin: 15px 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #544093;
      text-align: center;

      @media (max-width: 540px) {
        text-align: initial;
      }

      @media (max-width: 480px) {
        font-size: 20px;
        margin: 10px 0;
      }

      @media (max-width: 375px) {
        font-size: 18px;
      }
    }



    &__price{
      color: #544093;
      font-size: 14px;
      margin-bottom: 25px;
      letter-spacing: 0.0025em;
      font-weight: 300;

      @media (max-width: 480px) {
        font-size: 12px;
        margin-bottom: 15px;
      }

      @media (max-width: 375px) {
        font-size: 11px;
      }

    }

    &__button{
      width: 160px;
      height: 32px;
      text-transform: uppercase;
      font-size: 10px;
      color: #544093;
      border: 1px solid #544093;
      box-sizing: border-box;
      border-radius: 8px;
      background-color: #EFE5FE;
      padding: 10px 35px;

      @media (max-width: 480px) {
        width: 120px;
        height: 26px;
        padding: 8px;
        font-size: 8px;
      }

      @media (max-width: 375px) {
        width: 100px;
        height: 24px;
        padding: 8px;
        font-size: 7px;
        margin-bottom: 10px;
      }
    }

    &__img{
      margin-left: 120px;

      @media (max-width: 540px) {
        margin-left: 20px;
      }

      @media (max-width: 480px) {
        width: 140px;
      }

      @media (max-width: 375px) {
        width: 120px;
      }
    }

  }

}

#slider-dots-list li {
  width: 60px;

  @media (max-width: 540px) {
    width: 55px;
  }

  @media (max-width: 480px) {
    width: 45px;
  }

  @media (max-width: 375px) {
    width: 40px;
  }
}

.main{
  padding: 85px 10px;
}

.main,
.products{
  margin-bottom: 120px;
}

.main{

  max-width: 1440px;
  margin: 0 auto;

  &__banners-container{
    @include flex-center;
    margin: 80px auto;
    flex-wrap: wrap
  }



  &__banner{
    @include flex-center;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 200px;
    height: 215px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 35px 20px 0;
    text-decoration: none;

    @media (max-width: 768px) {
      margin: 0 6px 12px 6px;
      width: 155px;
      height: 175px;
    }


    &:last-of-type{
      margin-right: 0
    }

    &__img{
      max-width: 90%;
      max-height: 90%;
      margin: auto;

    }

    &__title{
      color: #343A40;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.005em;
      margin-top: 10px;
      
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }

  &__poster{
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1100px;  
    padding: 0 70px;
    box-sizing: border-box;
    margin: 0 auto 80px;
    border-radius: 12px;
    background-size: cover;

    &_original-only{
     background-image: url(../img/only-original.png);
    }

    &_accessories{
     background-image: url(../img/accessories-variety.png);
    }

    &_sony-tv{
       background-image: url(../img/sony-smart-tv.png);
    }

    @media (max-width: 768px) {
      padding: 0 10px 0 50px;
      margin-bottom: 65px;
    }

    @media (max-width: 480px){
      padding: 140px 20px 10px;
      margin-bottom: 50px;
    }

    &__container{
      @include flex-column-left;
      justify-content: center;
      max-width: 405px;
      min-height: 420px;

      &_accessories{
        margin-left: auto;

        @media (max-width: 480px){
          margin-left: 0;
        }
      }

      @media (max-width: 768px) {
       max-width: 350px;
      }

      @media (max-width: 480px){
        width: auto;
      }
    }

    &__header{
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 46px;
      letter-spacing: 0.0025em;
      margin: 0;
      color: white;

      @media (max-width: 480px){
        font-size: 26px;
        line-height: 32px
      }
  
    }

    &__text{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.005em;
      color: #E9ECEF;
      margin: 20px 0px 35px;
      max-width: 320px;
    }

    &__button{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.0155em;
      padding: 12px 50px;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 8px;
      color: white;
      text-decoration: none;

      @media (max-width: 480px){
        padding: 8px 38px;
        font-size: 15px;
      }
    }


  }

}

.not-found{
  height: 100vh;
  background: #FFEEE7;

  
  &__container{
    @include flex-center;
    height: 100%;
    // width: 100%;
    position: relative;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
    z-index: 0;
    padding: 0 20px;

    &::after{
      content: "404";
      position: absolute;
      color: #FFE2D7;
      font-size: 512px;
      margin: auto;
      z-index: -1;
      font-weight: bolder;

      @media (max-width: 1300px) {
        font-size: 400px;
      }

      @media (max-width: 768px) {
        font-size: 300px;
      }

      @media (max-width: 540px) {
        font-size: 270px;
      }

      @media (max-width: 480px) {
        font-size: 180px;
        top: 40%
      }
    }
  }


  &__search{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: white;

    @media (max-width: 768px) {
      max-width: 560px;
      margin: 0 auto;
    }

      &::after{
        content: url('../img/not-found.png');
        position: absolute;
        right: 0;
        bottom: -5px;
      }
    }

  &__header{
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    align-items: center;
    text-align: center;
    margin: 0;
    color: #343A40;

    @media (max-width: 1300px) {
      font-size: 45px;
    }

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 480px) {
      font-size: 34px;
      font-weight: 500;
      max-width: 300px;
      line-height: 48px;
    }
  }

  &__text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #343A40;
    margin: 15px 0 35px;
    text-align: center;

    @media (max-width: 1300px) {
      font-size: 17px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      margin: 8px 0 25px;
    }

    @media (max-width: 480px) {
      font-size: 15px;
      margin: 15px 0 35px;
    }
  }

  &__back{   
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.0155em;
    color: #343A40;
    margin-bottom: 65px;
    position: relative;

    @media (max-width: 1300px) {
      font-size: 15px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 55px;
    }

    @media (max-width: 480px) {
      margin-bottom: 45px;
    }
    
    &::after{
      content: "";
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      border-top: 3px solid #ADB5BD;
      border-left: 3px solid #ADB5BD;
      border-radius: 1px;
      top: 8px;
      right: 155px;
      transform: rotate(315deg);
      border-radius: 2px;

      @media (max-width: 1300px) {
        right: 145px;
      }
    }

    &::before{
      content: "";
      border-radius: 5px;
      width: 10px;
      height: 3px;
      background-color: #ADB5BD;
      top: 10.5px;
      right: 152px;
      position: absolute;

      @media (max-width: 1300px) {
        right: 142px;
      }
    }
  }
}

.footer{
  background-color: #161616;
  background-image: url('../img/black-line.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 75px 70px  80px 45px;
  background-size: 2000px;

  @media (max-width: 1300px){
    padding: 65px 40px 70px 30px;
  }

  @media (max-width: 1024px){
    margin-top: 90px;
    background-size: 1500px;
  }

  @media (max-width: 768px) {
    padding: 50px 20px 80px;
  }

  @media (max-width: 540px) {
    background-size: 1000px;
    margin-top: 50px;
  }

  @media (max-width: 375px) {
    background-size: 800px;
  }

  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }
  }


  &__header{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.005em;
    margin: 0 0 25px;
    color: #FFFFFF;

    @media (max-width: 1024px){
      text-align: center;
    }

    @media (max-width: 768px){
      text-align: left;
    }


    &_contact{
      @media (max-width: 768px){
        display: none;
      }

    }
  }

  &__link,
  &__text{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.0025em;
    color: #CED4DA;

    @media (max-width: 1024px){
      text-align: center;
    }

    @media (max-width: 768px){
      text-align: left;
    }

    &_center{
      @media (max-width: 768px){
        text-align: center;
      }
    }

    &_admin{
      margin-top: 15px;
    }

  }

  &__social{
    @include flex-column-left;
    order: 1;

    @media (max-width: 1024px){
      width: 50%;
      align-items: center;
      margin-bottom: 70px;
    }

    @media (max-width: 768px){
      width: auto;
      margin-bottom: 30px;
    }

    &__text{
      max-width: 285px;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.0025em;
      color: #CED4DA;
      margin: 20px 0;

      @media (max-width: 1300px){
        width: 210px;
      }

      @media (max-width: 768px){
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }

      @media (max-width: 480px) {
        max-width: 270px;
      }
    }

    &__networks-container{
      width: 65px;
      @include flex-space-center;
    }
  }

  &__info{
    order: 2;

    @media (max-width: 1024px){
      width: 50%;
    }

    @media (max-width: 768px){
      order: 4;
      width: 215px;
    }

    &__table{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 12px;
    }
  }



  &__catalog{
    display: flex;
    flex-direction: column;
    order: 3;

    @media (max-width: 1024px){
      width: 50%;
      order: 4;
    }

    @media (max-width: 768px){
      width: auto;
      order: 3;
      margin-bottom: 50px;
    }

    &__table{
      display: grid;
      grid-template-columns: 85px 85px;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-column-gap: 60px;
      grid-row-gap: 12px;

      @media (max-width: 1300px){
        grid-column-gap: 45px;
        margin: 0 auto;
      }
    }

  }

  &__contact{
    order: 4;

    @media (max-width: 1024px){
      width: 50%;
      order: 3;
    }

    @media (max-width: 768px){
      width: auto;
      order: 2;
      margin-bottom: 50px;
    }

    &__table{
      display: grid;
      grid-template-rows: auto auto auto auto;
      grid-row-gap: 12px;
    }

    &__schedule{
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      &__text{
        font-weight: 300;

        &:first-child{
          margin-bottom: 12px;
        }
      }


    }
  }


}

.products{
  &__header{
    &__background{
      background-position: center;
      background-repeat: no-repeat;
    }

    &__wrapper{
      padding: 150px 25px 20px;
      height: 270px;
      box-sizing: border-box;
      max-width: 1440px;
      margin: 0 auto;
      position: relative;

      @media (max-width: 768px) {
        height: 240px;
        padding-top: 145px;
      }
      @media (max-width: 480px) {
        height: 220px;
        padding-top: 135px;
  
      }
    }

    &__text{
      text-align: center;
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 0.0025em;
      color: #343A40;
  
      @media (max-width: 768px) {
        font-size: 32px;
      }
      @media (max-width: 480px) {
        font-size: 26px;
        text-align: left;
      }
    }

    &__crumbs{
        &__wrapper{
        position: absolute;
        top: 110px;
        left: 120px;
        font-size: 14px;
        letter-spacing: 0.0025em;
        color: #343A40;

        @media (max-width: 1300px) {
          left: 100px
        }

        @media (max-width: 1024px){
          left: 85px
        }
        @media (max-width: 768px) {
          left: 25px;
          top: 95px;
          font-size: 13px;
        }
        @media (max-width: 480px) {
          font-size: 12px;
        }
      }

      &__link{
        font-size: 14px;
        letter-spacing: 0.0025em;
        color: #343A40;
        margin-right: 40px;
        position: relative;
        text-decoration: none;

        &::after{
          content: '';
          position: absolute;
          right: -20px;
          height: 15px;
          width: 1.5px;
          transform: rotate(20deg);
          background: #ADB5BD;
          border-radius: 1px;
        }

        &:last-child{
          &::after{
            display: none;
          }
        }

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  &__section{
    display: flex;
    padding: 50px 70px 80px;
    max-width: 1440px;
    margin: 0 auto;

    &_sort-list{
      width: 100%;
    }
  }

  &__sidebar{
    width: 20%;
    margin-right: 50px;

    &__header{
      margin: 0 0 45px;
      font-weight: 500;
      font-size: 24px;
      color: #343A40;
    }

    &__subheader{
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.0155em;
      text-decoration: none;
      margin: 0 0 25px;
      color: #FA530D;
    }

    &__category-header{
      font-weight: 500;
      display: inline-block;
      font-size: 16px;
      letter-spacing: 0.0155em;
      color: #343A40;
      margin: 0;
    }

    &__category-text,
    &__filter__text{
      font-size: 14px;
      letter-spacing: 0.0155em;
      color: #343A40;
      margin: 15px 0 0 15px;
      text-decoration: none;
    }

    &__filter{
      margin: 15px 0 0 0;

      &__checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      
      &__text{
        position: relative;
        margin-left: 0;

        &::before{
          content: '';
          display: inline-block;
          width: 18px;
          height: 18px;
          border: 1px solid #DEE2E6;
          margin-right: 12px;
          border-radius: 4px;
          background-color: white;
          vertical-align: text-bottom;
          box-sizing: border-box;
        }
      }

      &__text::after{
        content: '';
        position: absolute;
        left: 4px;
        top: -0.5px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
      }

      &__checkbox:checked+&__text::before{
        border: 2px solid #FA530D;
      }
      &__checkbox:checked+&__text::after{
        background-color: #FA530D;
      }

    }
  }

  &__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 255px);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    // justify-content: center;
  }

  &__sort{
    position: relative;
    margin-bottom: 40px;

    &__header,
    &__text{
      font-size: 16px;
      line-height: 26px;
    }

    &__header{
      color: #6C757D;
    }

    &__content-wrapper{
      position: relative;
      margin-left: 8px;
      display: inline-block;
    }

    &__text{
      color: #343A40;
      position: relative;

      &::after{
        content: "";
        position: absolute;
        right: -20px;
        top: 3px;
        display: block;
        width: 6px;
        height: 6px;
        border-top: 2px solid #ADB5BD;
        border-left: 2px solid #ADB5BD;
        transform: rotate(225deg);
        border-radius: 1px;
      }

      &_active{
        &::after{
        border-top: 2px solid #343A40;
        border-left: 2px solid #343A40;
        }
      }
    }

    &__select{
      display: none;
      position: absolute;
      right: 0;
      top: 35px;
      background: #FFFFFF;
      box-shadow: 0px 0px 16px rgba(57, 59, 101, 0.12);
      border-radius: 8px;
      padding: 5px;
      width: 180px;
      box-sizing: border-box;
      z-index: 1;

      &_active{
        @include flex-column-left;
      }

      &__label{
        color: #343A40;
        letter-spacing: 0.0025em;
        border-radius: 8px;
        font-size: 14px;
        width: 100%;
        padding: 10px 13px;
        box-sizing: border-box;

        &:hover{
          background: #F4F5F7;
        }

        & input{
          display: none
        }
      }
    }

    &__labels-wrapper{
      margin-bottom: 20px;

      
    }

    &__label{
      font-size: 14px;
      color: #343A40;
      margin-left: 50px;
      display: inline-block;

      &:nth-of-type(1){
        margin-left: 0;
      }

      &__value{
        margin-left: 15px;
        position: relative;
        font-weight: 500;

        &::after,
        &::before{
          position: absolute;
          content: '';
          top: 1px;
          right: -18px;
          height: 11px;
          width: 1.5px;
          background-color: #ADB5BD;
          transform: rotate(45deg);
          border-radius: 1px;
        }

        &::after{
          transform: rotate(-45deg);
        }
      }

    }

  }

}


.product{

  &__container{
    @include flex-column-left;
  }

  &__img-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 255px;
    margin: 0 0 16px;
    height: 225px;
    background: #E9ECEF;
    border-radius: 8px;
  }

  
  &__img{
    margin: auto;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }

  &__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #343A40;
  }

  &__price{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #343A40;
  }
}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

.admin{

  &__logout-btn{
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    width: 80px;
    font-size: 14px;
  }

  &__upload-file{
      position: relative;
      background-color: #fafafa;
      display: flex;
      border-radius: 8px;
      margin: 0 0 0 auto;

    &__input{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
    }
    &__text{
      background-color: white;
      border-radius: 8px;
      padding: 5px 10px;
      color: #2196f3;
      font-size: 13px;
    }


  }
}

.link{
  &_selected{
    color: #FA530D;
  }
}